<template>
  <v-card class="elevation-12">
    <v-row>
      <v-col cols="12" md="8">
        <v-card-text class="mt-12">
          <h2 class="text-center deep-purple--text text-uppercase">Sign in</h2>
          <v-form class="mt-7">
            <v-text-field
                v-model="loginForm.email"
                :rules="rules.email"
                label="Email"
                type="email"
                prepend-inner-icon="mdi-email"
                color="deep-purple"
                outlined
            />
            <v-text-field
                v-model="loginForm.password"
                :rules="rules.password"
                :append-icon="loginForm.show ? 'mdi-eye' : 'mdi-eye-off'"
                :type="loginForm.show ? 'text' : 'password'"
                label="Password"
                prepend-inner-icon="mdi-lock"
                color="deep-purple"
                outlined
                @click:append="loginForm.show = !loginForm.show"
            />
            <div class="text-center">
              <v-btn
                  class="white--text"
                  color="deep-purple"
                  large
                  rounded
              >
                Sign in
              </v-btn>
            </div>
          </v-form>
        </v-card-text>
      </v-col>

      <v-col cols="12" md="4" class="deep-purple">
        <v-card-text class="text-center white--text mt-12">
          <h2>Don't have an account yet?</h2>
          <p>Register now</p>
          <div class="text-center">
            <v-btn
                class="deep-purple--text"
                color="white"
                large
                rounded
            >
              Sign up
            </v-btn>
          </div>
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts">

import {Vue, Component} from "vue-property-decorator";

@Component({})
export default class Login extends Vue {
  loginForm = {
    email: '',
    password: '',
    show: false
  }

  get rules() {
    const rules = {
      email: [
        (value: any) => !!value || 'Email is required',
        (value: any) => /.+@.+\..+/.test(value) || 'Email must be valid',
      ],

      password: [
        (value: any) => !!value || 'Password is required',
        (value: any) => (value && value.length >= 5 && value.length <= 10) || 'Length should be 5 to 10',
      ]
    }
    return rules;
  }
}
</script>

<style>
/*временно*/
 .row {
   margin: 0 !important;
 }
</style>
