<template>
  <v-app>
    <component :is="layout">
      <router-view />
    </component>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import EmptyLayout from '@/layouts/EmptyLayout';
import MainLayout from '@/layouts/MainLayout';

export default Vue.extend({
  computed: {
    layout() {
      return (this.$route.meta.layout || 'main') + '-layout'
    }
  },

  components: {
    EmptyLayout,
    MainLayout
  }
});
</script>

<style lang="scss">
  @import "~normalize.css/normalize.css";
</style>
