<template>
  <v-header />
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import VHeader from '@/layouts/VHeader'

@Component({
  components: {
    VHeader
  }
})
export default class MainLayout extends Vue {
}
</script>

<style>
</style>