<template>
  <v-toolbar>
    <v-app-bar-nav-icon></v-app-bar-nav-icon>

    <v-spacer></v-spacer>

<!--временно-->
    <router-link to="/login">
      <v-btn icon>
        <v-icon>mdi-export</v-icon>
      </v-btn>
    </router-link>
  </v-toolbar>
</template>

<script>
</script>

<style>

</style>